body {
  // Default style for body 
  &.inverted {
    background-color: @black;
  }
  
  .inverted {
    
    a[href] {
      color: @invertedLinkColor;
      
      &:hover {
        color: @invertedLinkHoverColor;
      }
    }
  }
}

