// Global namespace for all TA typography
.ta {
  // Lead
  &.lead {
    font-size: 120%;
  }

  // Author/Byline
  &.author,
  &.byline {
    font-family: @chartFont;
    font-weight: 800;
    font-size: @relativeMedium;
    line-height: 2.5ex;
  }

  &.interview {

    p {
      margin-top: 0;
      margin-bottom: 0;
    }

    &.question {
      margin-top: 4.5ex;
      font-weight: 700;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}

.infographic.infographic.infographic,
.chart.chart.chart {
  font-family: @chartFont;
}

.caption.caption.caption {
  font-family: @textFont;
}

.interactive.interactive.interactive,
.neutral.neutral.neutral {
  font-family: @uiFont;
}

.display.display.display {
  font-family: @headerFont;
}